# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

# Pour définir la racine du projet
root = true

[*]
# Tyoe de fin de ligne
end_of_line = lf
charset = utf-8
# Eviter les espaces en fin de ligne
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 2

# Laisser les espaces en fin de ligne
[*.{diff,md}]
trim_trailing_whitespace = false